# {{ ansible_managed }}
server {
	listen 80;
	server_name {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }};
	root /var/www/html; # document root
	
	location ~ \.php$ {
		fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
		include fastcgi_params;
	}
}
